.root {
    --color1: #b1b5be;
    --color2: #23b77b;
    --color3: #9f2063;
}



body {
    display: flex;
    flex-flow: column;
    flex-shrink: 1;
    flex-grow: 0;
    justify-content: space-between;
    gap: 5px 5px;
    background-color: var(--color1);
    padding: 25px 25px 25px 25px;
}

#header {
    background-color: #9f2063;
    color: white;
    text-align: center;
    border-radius: 5px;
}


#body-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #23b77b;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    flex-shrink: 1;
}

.articles {
    display: flex; 
    background-color: #e4195b;
    color: white;
    justify-content: center;
    flex-shrink: 1;
    margin: 5px 5px 5px 5px;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#side-bar {
    display: flex;
    background-color: #116395;
    justify-content: center;
    color: white;
    border-radius: 5px;
}

#foot {
    display: flex;
    justify-content: center;
    background-color: #e06b26;
    color: white;
    border-radius: 5px;
}


@media screen (min-width: 1025px) {
    body {
        flex: 1;
        flex-wrap: 0;
    }
}