.root {
    --color1: #b1b5be;
    --color2: #23b77b;
    --color3: #9f2063;
}



body {
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    background-color: var(--color1);
    padding: 25px 25px 25px 25px;
    /* color: white; */
}

#header {
    background-color: #9f2063;
    color: white;
    border-radius: 5px;
    /* padding: 25px 25px 25px 25px; */
    /* margin-bottom: -60px; */
    margin-top: -47px

}


#body-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #23b77b;
    border-radius: 5px;
    /* margin: -50px; */
    /* border: 1px; */
    /* margin: 5px 5px 100px 5px; */

}

.articles {
    background-color: #e4195b;
    color: white;
    margin: 5px 5px 5px 5px;
    border-radius: 5px;
}

#side-bar {
    background-color: #116395;
    color: white;
    border-radius: 5px;
    margin-top: -50px
}

#foot {
    background-color: #e06b26;
    color: white;
    border-radius: 5px;
}